{
    "globals": {
        "__root": true,
        "testUtils": true,
        "describe": true,
        "it": true,
        "expect": true,
        "afterEach": true,
        "after": true,
        "beforeEach": true,
        "before": true
    }
}
